<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="queueServer" value="wolverine.rmq.cloudamqp.com"/>
    <add key="queueVhost" value="ukmprevw"/>
    <add key="queueUsername" value="ukmprevw"/>
    <add key="queuePassword" value="x0RnAwiYT54UrCjwmq7ZApU24Aoo6cPp"/>
    <add key="yamlBasePath" value="C:\Users\shawn\test"/>
    <add key="composeExecutionTimeoutMinutes" value="5"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>